---
layout: layouts/_default/base.njk
tags:
  - nav
navtitle: Pictures
title: Pictures
description: A few photos
pagination: 
  data: collections.pictures
  size: 5
  reverse: true
  alias: pictures
---

<main>
  <div class="font-sans text-center px-10 w-full md:w-2/3 lg:w-1/2 mx-auto">
    <h1 class="tracking-tight pt-8 lg:pt-10 2xl:pt-12 text-5xl">Pictures</h1>
    <div class="post-line"></div>
    <div>
    
      <hr class="mt-2 mb-6" />
     <div class="grid grid-cols-3">
      {% for post in pictures %}
        <div>          
          <h2 class="text-2xl lg:text-3xl 2xl:text-4xl mb-1 leading-tight tracking-tight"><a href="{{ post.url }}">{{ post.data.title }}</a><br />
          <span class="text-lg lg:text-xl 2xl:text-2xl tracking-tight">{{ post.data.subtitle }}</span></h2>
          <p class="text-sm dateInfo mt-0">
            <time class="inline" datetime="{{ post.date | htmlDateString }}"><strong>{{ post.date | htmlDateString }}</strong></time>

          </p>
          <p class="text-base mt-2 mb-10">
     
          </p>
        </div>
      {% endfor %}
      </div>
      <hr class="mt-6" />
      <p class="text-center text-sm mt-2 mb-16">
        {% if pagination.firstPageHref != page.url %}
        <a class="border-transparent" aria-label="First page" href={{ pagination.firstPageHref}}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="border-transparent" aria-label="Previous page" href={{ pagination.previousPageHref }}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span class="text-gray-500">{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-gray-500">{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a class="border-transparent" aria-label="Next page" href={{ pagination.nextPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="border-transparent" aria-label="Next page" href={{ pagination.lastPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span class="text-gray-500">{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-gray-500">{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
      </p>
		</div>
	</div>

</main>