---
title: singlepostherofit.njk
layout: layouts/_default/base.njk
---

<main class="pt-0">
  <div class="background-hero-image-div font-sans">
    {% lazypicture featured_image, featured_image_alt, "posts" %}
    <div class="background-hero-title-block-fit">
      <div class="background-hero-title-text">
        <h1 class="text-left text-4xl md:text-left md:text-5xl lg:text-7xl xb:text-8xl tracking-tight leading-tight mb-2 px-4 md:px-0 text-white">{{ title }}</h1>
        <h2 class="text-left text-2xl md:text-left md:text-xl lg:text-3xl xb:text-6xl leading-tight tracking-tight px-4 md:px-0 text-white">
          {% if subtitle %}
            {{ subtitle }}
          {% else %}
            &nbsp;
          {% endif %}
        </h2>
        <p class="hidden not-italic md:block md:text-2xl tracking-tight md:mt-8 mb-6 text-white max-w-3xl">{{ description }}</p>
        <p class="text-base text-right px-4 md:text-right md:px-0 mt-4 md:mt-0 mb-0 text-white">
       <strong>{{ page.date | htmlDateString }}</strong><br />
          <span class="text-sm">
          {% if lastmod %}
          <span style="font-variant: small-caps">last modified:</span>&nbsp; {{ lastmod | htmlDateString }}
          {% else %}
          &nbsp;
          {% endif %}
          </span>
        </p>
        {% if featured_image_caption %}
          <p class="text-center text-white text-xs mt-4 mb-0 md:mb-1 pb-1">{{ featured_image_caption | safe }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="sm:w-5/6 md:w-2/3 mt-10 mr-auto ml-auto px-6 lg:px-16">
    <article class="article">
      {{ content | safe }}
    </article>
  </div>

  {% if title != "Whasthis Thing?" %}

  <div class="font-sans w-full px-8 md:px-0  align-middle mt-10 mb-10">
    
  {% if nextPost.url %}
    <p class="text-center my-2 text-xl text-gray-700 leading-tight tracking-tight">
      <strong>Next</strong>: 
      <a class="border-transparent text-blue-500 hover:text-blue-700 hover:border-blue-100" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="text-center pb-4 my-2 text-xl text-gray-700 leading-tight tracking-tight">
      <strong>Previous</strong>: 
      <a class="border-transparent text-blue-500 hover:text-blue-700 hover:border-blue-100" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% else %}
    <p class="text-xs my-0 py-0 leading-tight">&nbsp;</p>
  {% endif %}
  </div>
  {% endif %}
