    <footer class="text-center pt-6 pb-2">
      <div class="w-5/6 md:w-3/4 lg:w-2/3 mx-auto">
     
        <p class="text-xs mt-4 mb-2">All content -- except where noted &copy; 2020 - Al Sessions.</p>
      
      </div>
    </footer>    
